{% extends 'base.html' %} {% load static %} {% get_media_prefix %} {% block content %}

<div id="home">
  <div class="landing-text">
    <h1 id="blog-tittle">Wang & Wu's Blog</h1>
    <br /><br />
    <div>
      <a class="btn btn-one" href="#post"><span>Get Started</span></a>
    </div>
  </div>
</div>

<div class="padding" id="post">
  <div class="container">
    <h1>Post</h1>
    <br />

    <div class="row row-cols-1 row-cols-md-3">
      {% for post in object_list %}
      <div class="col mb-4">
        <div class="card">
          {% if post.header_image %}
          <a href="{% url 'post-details' post.pk %}">
          <img
            src="/media/{{ post.header_image }}"
            class="card-img-top"
            height="350"
            width="200"
          />
          </a>
          {% else %}
          <a href="{% url 'post-details' post.pk %}">
          <img
            src="{% static '/image/mi.jpg' %}"
            class="card-img-top"
            height="350"
            width="200"
          />
          </a>
          {% endif %}
          <div class="card-body">
            <hr />

            <h5 class="card-title">
              <a href="{% url 'post-details' post.pk %}">{{post.title}}</a>
            </h5>
            <p class="card-text">
              <a href="{% url 'post-details' post.pk %}"></a> -
              <a href="{% url 'category' post.category|slugify %}"
                >{{post.category}}</a
              >
              <small> - {{post.post_date }} </small>
              {% if user.is_authenticated %} {% if user.id == post.author.id or user.is_superuser %}
              <small>
                <a href="{% url 'post-edit' post.pk %}"
                  ><button type="button" class="btn btn-outline-info btn-sm">
                    <i class="fa fa-pencil-square-o"></i></button
                ></a>
                <a href="{% url 'post-delete' post.pk %}"
                  ><button type="button" class="btn btn-outline-danger btn-sm">
                    <i class="fa fa-trash"></i></button
                ></a>
              </small>
              {% endif %} {% endif %}<br />
              {{ post.snippet|slice:":200"|safe }}
            </p>
            <!-- 縮減200字以內 -->
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <hr />
    <br />
  </div>
</div>
{% endblock %}
