{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>
<br>
<ul>
{% for post in object_list %}
	<li><a href="{% url 'post-details' post.pk %}">{{post.title}}</a> - <a href="{% url 'category' post.category %}">{{post.category}}</a> <small> - {{post.post_date }} </small>
		{% if user.is_superuser %}
			<small>
			<a href="{% url 'post-edit' post.pk %}">(Edit)</a>
			<a href="{% url 'post-delete' post.pk %}">(Delete)</a>
			</small>
		{% endif %}
		 <br>
		 {{ post.body|slice:":200"|safe }}          <!-- 縮減200字以內 -->
	</li>
	<br>
{% endfor %}
</ul>
<hr>
<br/>

{% endblock %}