{% extends 'base.html' %}

{% block title %}
{{ object.title }}
{% endblock %}

{% block content %}
<div class="container">
	<br><br>
	<h1>{{ object.title }}</h1>
	<small>By: {{ object.author.first_name }} 
	{{ object.author.last_name }} </small> - {{ object.post_date }}  

	{% if user.is_authenticated %}
	{% if user.id == object.author.id %}
	<small>
		- <a href="{% url 'post-edit' object.pk %}">(Edit)</a>
		<a href="{% url 'post-delete' post.pk %}">(Delete)</a></small>
		{% endif %}
		{% endif %}
		<br/>
		<hr>
		<br/>
		{{ object.body|safe }}


		<br/><br/>

		<br/>
		<form action="{% url 'like-post' post.pk %}" method="POST">
			{% csrf_token %}
			<button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
			- {{ total_likes }} Likes
		</form>
		<hr>
		<br/>
		<a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
	</div>
	<br><br>
	{% endblock %}