{% extends 'base.html' %}

{% block title %}
      {{ object.title }}
{% endblock %}

{% block content %}

<h1>{{ object.title }}</h1>
<small>By: {{ object.author.first_name }} 
{{ object.author.last_name }} </small> - {{ object.post_date }}  

{% if user.is_authenticated %}
	{% if user.id == object.author.id %}
		<small>
			- <a href="{% url 'post-edit' object.pk %}">(Edit)</a>
			<a href="{% url 'post-delete' post.pk %}">(Delete)</a></small>
	{% endif %}
{% endif %}
<br/>
<hr>
<br/>
{{ object.body|safe }}


<br/><br/	>
<a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>


{% endblock %}