/* 手機 */
@media only screen and (max-width: 450px) {
	html, body {
		font-family: Gill Sans, sans-serif;
		font-weight: bold;
		scroll-behavior: smooth;
		width:100%; height:100%; 
		background-attachment: fixed;
		background-size:100% auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.landing-text h1 { 
		color: #7787E5;
		font-family: Gill Sans, sans-serif;
		font-size: 50px;
		font-weight: bold;
		text-shadow: 1px 0 0 #fff;
	}

	#home {
		background: url("../image/landing-mobile3.png")no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width: 100%;
		background-size: cover;
	}

	.padding {
		padding: 80px 0;
	}

}

/* 電腦 */
@media only screen and (min-width: 450px) {
	/* scroll-behavior: smooth; 按按鈕可以順順的滑到位置 */
	html, body {
		scroll-behavior: smooth;
		width:100%; height:100%; 
		background-attachment: fixed;
		background-size:100% auto;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	.landing-text h1 { 
		color: #7787E5;
		font-family: Brush Script MT, cursive;
		font-size: 80px;
		font-weight: bold;
		line-height: 48px;
		margin: 0 0 18px;
		text-shadow: 1px 0 0 #fff;
	}

	

	#home {
		background: url("../image/landing2.png")no-repeat center center fixed;
		display: table;
		height: 100%;
		position: relative;
		width: 100%;
		background-size: cover;
	}

	.padding {
		padding: 80px 0;
	}
}

.navbar {
	background-color: #C8D0FF;
}

.landing-text {
	display:table-cell;
	text-align: center;
	vertical-align: middle;
}











/* 首頁 Button */
.btn-one {
	color: #FFF;
	transition: all 0.3s;
	position: relative;
	background-color: #FFB4A3;
}
.btn-one span {
	transition: all 0.3s;
}
.btn-one::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	transition: all 0.3s;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: rgba(255,255,255,0.5);
	border-bottom-color: rgba(255,255,255,0.5);
	transform: scale(0.1, 1);
}
.btn-one:hover span {
	letter-spacing: 2px;
}
.btn-one:hover::before {
	opacity: 1; 
	transform: scale(1, 1); 
}
.btn-one::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	transition: all 0.3s;
	background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
	opacity: 0; 
	transform: scale(0.1, 1);
}
/* 首頁 Button */